#fixed cost for waxing 10grams otherwise its a quarter of the items volume times the density of wax (0.95g / cm³)
fixedWaxingCost = true
#enable healing with healing gauze which grants a prolonged healing action that heals over time - cancelled by taking damage
whiskyHeals= true
#sleepBonus is less effective
sleepMalus=true
#sleep bonus factor how much xp is gained if you put 1.1 using sleep bonus rewards 110% normal xp. Vanilla is 2.0
sleepBonusFactor = 2.0
# points of healing done per tick per Ql of the healing gauze with 0.05 per ql a 100ql gauze would heal 5 damage per tick * 10 ticks
healPerQl=0.05
#how much gauze is used. 1 means 100g per action. 10 would be 1000g per action
usageFactor = 1.0